body {
    margin: 0;
    padding: 0;
}

nav {
    background-color:#3b3c3d;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-1,
.block-2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 20px;
}

iframe {
    border: 0;
    margin: 0;
    padding: 0;
}

#card-2 {
    margin-top: -150px;
}
