* {
    padding: 0;
    margin: 0;
}

body {
    font-family: cursive;
    font-weight: bold;
}

/* Nav Bar */

.nav li,h1,a,button {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav {
    background-color: #3b3c3d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-title {
    margin-right: auto;
    margin-left: 10px;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-title,.nav-links {
    margin: 20px auto;
}

.nav-btn {
    padding: 6px 10px;
    background-color: aqua;
    cursor: pointer;
    margin-left: 20px;
    box-shadow: rgb(0, 0, 0) 4px 4px;
}


/* Block 1 */
.block-1{
    display: flex;
}

/* User Card */

.card-container {
    width: 650px;
    border: 2px solid #928f8f;
    margin: 50px;
}

.card-container .up {
    width: 490px; 
    float: left; 
    background-color: aqua; 
    padding: 80px; 
}

.user-content {
    margin-top: 220px;
    margin-left: 50px;
}

.user-content .name{
    color: #000;
    font-weight: bolder;
}

.edit {
    color: blue;
}

.user-content p{
    font-weight: bold;
    margin-top: 10px;
}

.user-img1 img {
    width: 100px;
}

.user-img1 {
    margin-left: 20px;
    position: absolute;
    top: 245px;  
}

.user-img2 {
    width: 20px;
}


/* Card 1 */
.c1-container {
    width: 500px;
    height: fit-content;
    border: 2px solid #928f8f;
    margin: 50px; 
}

.c1-block-1 {
    display: flex;
    width: 460px;
    float: left;
    color: #fff;
    background-color: rgb(59, 60, 60);
    padding: 20px;
}

.c1-block-1 h1 {
    font-size: 24px;
    display: inline-flex;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid ; 
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; 
}

.c1-content {
    margin-top: 100px;
    margin-left: 20px;
}

.connec {
    display: flex;
    align-items: center;
}

.user-container {
    display: flex;
    align-items: center;
}

.c1-container p {
    margin-left: 15px;
}

.c1-container img {
    width: 40px;
    height: 40px;
}

.c1-content .icon {
    margin-left: 50%;
}

/* Block-2 */
.block-2 {
    display: flex;
}
/* Card 2 */

.c2-container {
    width: 500px;
    height: fit-content;
    margin: 50px;
    border: 2px solid #928f8f;
}

.c2-block-1 {
    width: 460px; 
    float: left; 
    color: #fff;
    background-color: rgb(59, 60, 60); 
    padding: 20px; 
}

.c2-block-1 span {
    width: 50px;
    height: 50px;
    border: 2px solid; 
    border-radius: 50%;
    margin-right: 10px;
}

.c2-content {
    padding: 100px 20px 20px 20px;
}

.c2-content .connec {
    display: flex;
    margin: 10px;
    align-items: center;
}

.user-container {
    display: flex;
    align-items: center;
}

.user-container p {
    margin-left: 15px;
}

.c2-circle {
    width: 40px;
    height: 40px;
}

.c2-link {
    border: 2px solid #928f8f;
    padding: 10px;
}

.c2-link a{
    color: blue;
    margin-left: 20px;
}

/* Card 3 */
.c3-container {
    width: 650px;
    height: fit-content;
    margin: 50px;
    border: 2px solid #928f8f;
}

.c3-block-1 {
    width: 610px; 
    float: left; 
    color: #fff;
    background-color: rgb(59, 60, 60); 
    padding: 20px; 
}

.c3-content {
    margin: 20px;
}

.c3-content p{
    font-weight: bold;
}

.c3-container span {
    color: #928f8f;
}