body {
    font-family: cursive;
    font-weight: bolder;
    max-width: 1466px;
    margin: 0 auto;
}

/* Nav */

.nav {
    background-color: #3b3c3d;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

a,button {
    color: #bdbdbd;
    text-decoration: none;
    font-weight: 500;
}

.nav-title {
    margin-right: auto;
    margin-left: 10px;
}

.nav-title,.active {
    color: #fff;
}


.nav-links li {
    display: inline-block;
    margin-right: 70px;
}



button {
    padding: 6px 10px;
    background-color: aqua;
    border: 2px solid #000;
    cursor: pointer;
    margin-left: 20px;
    box-shadow: rgb(0, 0, 0) 4px 4px;
}

