body {
    font-family: cursive;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.container {
    width: 650px;
    border-color: black;
    border: 2px solid #928f8f;
    justify-content: center;
}

.block-1 {
    width: 610px; 
    float: left; 
    color: #fff;
    background-color: rgb(59, 60, 60); 
    padding: 20px; 
}

.content {
    margin-top:150px;
    margin-left: 20px;
}

.content p{
    font-weight: bold;
}

span {
    color: #928f8f;
}