body {
    font-family: cursive;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.card-container {
    width: 650px;
    border: 2px solid #928f8f;
    justify-content: center;
}

.up {
    width: 490px; 
    float: left; 
    background-color: aqua; 
    padding: 80px; 
}

.content {
    margin-top: 220px;
    margin-left: 50px;
}

.content p{
    font-weight: bold;
}

img {
    width: 100px;
}

.img1 {
    margin-left: 20px;
    position: absolute;
    top: 120px;  
}

.img2 {
    width: 20px;
}

a {
    padding: 10px;
}