body {
    font-family: cursive;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.container {
    width: 500px;
    height: fit-content;
    justify-content: center;
}

.block-1 {
    width: 460px; 
    float: left; 
    color: #fff;
    background-color: rgb(59, 60, 60); 
    padding: 20px; 
}

span {
    width: 50px;
    height: 50px;
    border: 2px solid; 
    border-radius: 50%;
    margin-right: 10px;
}

.content {
    margin-top:128px;
    border: 2px solid #928f8f;
}

.conn {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.user-container {
    display: flex;
    align-items: center;
}

p {
    margin-left: 15px;
}

img {
    width: 40px;
    height: 40px;
}

.icon-2 {
    margin-left: 50%;
}

.link {
    border: 2px solid #928f8f;
    padding: 10px;
}

.link a{
    margin-left: 20px;
}